@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Norican&family=Platypi:ital,wght@0,600;1,600&display=swap");

@mixin for_mobile {
  @media (max-width: 700px) {
    @content;
  }
}


@mixin for_tablet {
  @media (max-width: 980px) {
    @content;
  }
}


body {
  // background: #f8fafc;
  background: #f8fafc !important;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}

.icc {
  display: inline-block;
}

.app-cont {
  display: flex;
  width: 100%;
  margin: 0;
  gap: 0;
  background: #ededed;
  flex-direction: column;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Platypi", serif;
  }

  h3 {
    font-size: 1.5em;
  }
}

.main-wrap {
  background: #e5e5e5;
  padding: 2em;
  @include for_mobile(){
    padding: 1.5em;
  }
}

.main-cont {
  margin: -5em auto 3em;
  display: flex;
  gap: 0em;
  max-width: 1300px;
  flex-direction: column;
  background: #f8fafc;

  border-radius: 10px;
}

.t-section {

  &.t-section--header {
    background: linear-gradient(-45deg, #209077 0%, #1ae28a 100%);
    padding: 4em 0px 5em;
  }

  // :not(.t-section--header){
  //   background: #f8fafc;
  // }

  .o-container {
    max-width: 1300px;
    padding: 5em 3em;
    margin: 0 auto;

    @include for_mobile() {
      margin: 0;
      padding: 4em 2em;
    }
  }


}

.o-section__container {
  display: flex;
  gap: 2em;

  @include for_mobile() {
    flex-direction: column;
  }

  .o-section__header {
    flex-basis: 30%;

    @include for_mobile() {
      flex-basis: 100%;
      text-align: left;
    }

    text-align: right;
  }

  .o-section__content {
    flex-basis: 70%;

    @include for_mobile() {
      flex-basis: 100%;
    }
  }
}

.c-header__brand {
  .c-brand__title {
    font-size: 4em;
    font-family: "Platypi", serif;
  }

  .c-brand__sub-title {
    font-size: 2em;
    font-family: "Norican", cursive;
  }
}

.o-section__header {
  .o-section__heading {
    font-size: 2em;
    font-family: "Norican", cursive;
    // font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-optical-sizing: auto;
  }

  .o-content__body {
    font-family: "Platypi", serif;
    font-weight: 400;
  }
}

.c-header__contact {
  .o-grid {
    display: flex;
    gap: 1.4em;
    flex-wrap: wrap;
  }
}

.s-expertise {
  .o-grid {
    display: flex;
    flex-direction: column;

    gap: 2em;

    .o-media {
      display: flex;
      gap: 2em;
    }

    .o-media__figure {
      display: flex;
      align-items: start;
    }

    .c-number {
      font-size: 3em;
      @include for_mobile(){
        font-size: 2em;
      }
      font-family: "Platypi", serif;
      color: var(--chakra-colors-blue-500);
    }
  }
}

.s-skills {
  .o-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    .o-media {
      display: flex;
      gap: 2em;
      align-items: center;
    }

    .o-media__figure {
      display: flex;
      align-items: start;
    }

    h3 {
      font-size: 1.5em;
    }

    .c-number {
      font-size: 1.5em;
      font-family: "Platypi", serif;
    }
  }
}

.c-timeline {
  display: flex;
  flex-direction: column;
  gap: 0;

  .c-work__timeframe {
    font-style: italic;
    opacity: 0.8;
  }

  @keyframes halo {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }

  .c-timeline__item {
    border-left: 2px solid #ccc;
    padding: 0 0 3em 2em;

    &:last-child {
      padding-bottom: 0;
    }

    position: relative;

    .c-timeline__point {
      position: absolute;
      top: 0;
      left: -14px;
      background: #fff;
      border: 3px solid #333;
      width: 26px;
      height: 26px;
      display: block;
      border-radius: 100%;

      &.t-primary-bg {
        &::before {
          content: "";
          position: absolute;
          top: -6px;
          left: -6px;
          border: 3px solid #52a4e2;
          width: 26px;
          height: 26px;
          display: block;
          border-radius: 100%;
          box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.8);
          animation: halo 1s 0.5s infinite ease-out;
        }

        background-color: #3182ce;
        border-color: transparent;
      }

      // 3182ce
    }
  }
}

.s-portfolio {
  // .o-grid {
  //   display: flex;
  //   flex-wrap: wrap;
  //   // gap: 1em;
  //   .chakra-card {
  //     flex-basis: 50%;
  //   }
  // }
  background: #dcd5d5;

  .chakra-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    @include for_mobile(){
      height: 130px;
    }
    overflow: hidden;
    display: block;
  }
}

.c-social-buttons {
  margin-top: 2em;
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 1.2em;
  gap: 2em;
  list-style: none;

  a,
  .c-social-button {
    display: inline-flex;
    align-items: center;
  }
}

.c-header__contact {
  margin-top: 2em;
}